= l(:mail_body_greeting, :firstname => @firstname, :lastname => @lastname )

- if @solved_issues.present?
  - issues_count = @solved_issues.count
  - case issues_count
    - when 1
      = l(:mail_body_solved_issues1, :count => issues_count)
    - when 2..4
      = l(:mail_body_solved_issues2, :count => issues_count)
    - else
      = l(:mail_body_solved_issues5, :count => issues_count)

- @solved_issues.each do |issue|
  = "* #{issue.due_date} - #{issue.project} - #{issue.tracker} ##{issue.id}: #{issue.subject}"

= @issues_url
